<form action='/admin/panel/add-task' method='POST'>
	<h2>Add new task</h2>

	<div class='form-box'>
		<input name='drawing' type='text' placeholder='Type number of drawing' />
		<input name='project' type='text' placeholder='Type number of project' />
	</div>
	<button>Add task</button>
	<a href='/admin/panel'>Back to admin panel</a>

</form>