<form action='/admin' method='POST'>
	<h2>Admin Panel</h2>

	<div class='form-box'>
		<input name='login' type='text' placeholder='Type your login' />
		<input name='password' type='password' placeholder='Type your password' />
	</div>
	<button>Sign In</button>
	<a href='/'>Back to home page</a>

</form>