<nav class='nav'>
	<ul class='nav-bar'>
		<li class='nav-bar-item'><a href='/'>Home</a></li>
		<li class='nav-bar-item'><a href='/admin'>Admin</a></li>
		<li class='nav-bar-item'><a href='/worker'>Worker</a></li>
		<li class='nav-bar-item'><a href='/support'>Support</a></li>
	</ul>
</nav>