<form action='/worker' method='POST'>
	<h2>Worker Panel</h2>

	<div class='form-box'>
		<input id='fistname' name='firstname' type='text' placeholder='Type your firstname' />
		<input id='lastname' name='lastname' type='text' placeholder='Type your lastname' />
	</div>
		<button>Sign In</button>
		{{> go-home}}
	</div>

</form>