/* LOGIN */

:root {
	--white: #fffafa;
	--button-color: #fbda36;
	--button-color-hover: #ffd500f5;
	--login-box-color: #333;
	--bgc-main: #6d6767;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	background-color: var(--bgc-main);
	color: var(--white);
}

form {
	width: 30%;
	max-height: 80%;
	padding: 3rem 4rem;
	border-radius: 10px;
	background-color: var(--login-box-color);
	box-shadow: 0 0 3rem #222;
}

form h2 {
	margin-bottom: 35px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border-bottom: solid 2px var(--button-color);
}

.form-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 22%;
}

.worker-box {
	height: 28%;
}

input {
	display: flex;
	height: 40%;
	outline: none;
}

.firstname,
.lastname {
	height: 22.5%;
}
input[type='text'],
input[type='password'],
.machine {
	border: none;
	font-size: 1.4rem;
	padding: 1rem 1rem;
	border-radius: 5px;
}
input[type='text']:focus,
input[type='password']:focus {
	border: 3px solid var(--button-color);
}

.machine {
	padding: 0.41rem 2.4rem;
	text-align: center;
}

button {
	width: 100%;
	background-color: var(--button-color);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	line-height: 1.6em;
	margin-top: 2.2rem;
	outline: none;
	padding: 10px;
	transition: background-color 0.5s;
	color: var(--white);
}
button:hover {
	background-color: var(--button-color-hover);
}

a {
	display: block;
	margin: 0 auto;
	color: var(--white);
	margin-top: 20px;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	border-bottom: solid 2px var(--button-color);
}

a:hover {
	border-color: var(--button-color-hover);
}
