{{! <a id='top'></a> }}
<header>
	<div class='header-img'>
		<div class='header-text'>
			<h1>Production Manager</h1>
			<p>We will help you optimize your work!</p>
		</div>
		<div class='header-bg'></div>
	</div>

</header>

{{> nav-bar}}

<main class='content'>
	<h2>About us</h2>

	<div class='content-box top-img'>
		<div class='content-bg-box'></div>
		<div class='content-text-box'>
			<h3>Manage your work</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum, distinctio beatae, vero laborum odio,
				saepe nemo vel voluptatibus eligendi blanditiis eos nihil non ab nisi earum veritatis corrupti aliquam.</p>
		</div>
	</div>

	<div class='content-box middle-img'>
		<div class='content-bg-box'></div>
		<div class='content-text-box'>
			<h3>Optimize your processes</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum, distinctio beatae, vero laborum odio,
				saepe nemo vel voluptatibus eligendi blanditiis eos nihil non ab nisi earum veritatis corrupti aliquam.</p>
		</div>
	</div>

	<div class='content-box bottom-img'>
		<div class='content-bg-box'></div>
		<div class='content-text-box'>
			<h3>Make your job easier</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum, distinctio beatae, vero laborum odio,
				saepe nemo vel voluptatibus eligendi blanditiis eos nihil non ab nisi earum veritatis corrupti aliquam.</p>
		</div>
	</div>
</main>

{{> footer-bar}}