{{! <a id='top'></a> }}
<header>
	<div class='header-img'>
		<div class='header-text'>
			<h1>Production Manager</h1>
			<p>We will help you optimize your work!</p>
		</div>
		<div class='header-bg'></div>
	</div>

</header>
<nav class='nav'>
	<ul class='nav-bar'>
		<li class='nav-bar-item'><a href='/'>Home</a></li>
		<li class='nav-bar-item'><a href='/admin'>Admin</a></li>
		<li class='nav-bar-item'><a href='/worker'>Worker</a></li>
		<li class='nav-bar-item'><a href='/support'>Support</a></li>
	</ul>
</nav>
<main class='content'>
	<h2>About us</h2>

	<div class='content-box top-img'>
		<div class='content-bg-box'></div>
		<div class='content-text-box'>
			<h3>Manage your work</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum, distinctio beatae, vero laborum odio,
				saepe nemo vel voluptatibus eligendi blanditiis eos nihil non ab nisi earum veritatis corrupti aliquam.</p>
		</div>
	</div>

	<div class='content-box middle-img'>
		<div class='content-bg-box'></div>
		<div class='content-text-box'>
			<h3>Optimize your processes</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum, distinctio beatae, vero laborum odio,
				saepe nemo vel voluptatibus eligendi blanditiis eos nihil non ab nisi earum veritatis corrupti aliquam.</p>
		</div>
	</div>

	<div class='content-box bottom-img'>
		<div class='content-bg-box'></div>
		<div class='content-text-box'>
			<h3>Make your job easier</h3>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum, distinctio beatae, vero laborum odio,
				saepe nemo vel voluptatibus eligendi blanditiis eos nihil non ab nisi earum veritatis corrupti aliquam.</p>
		</div>
	</div>
</main>

<footer class='footer'>
	<div class='footer-text-box'>
		<p>Copyright &copy; 2023 All Right Reserved by Urasiński Paweł</p>
	</div>
	<div class='footer-icon-box'>
		<span>Follow us on: </span>
		<a href='https://facebook.com/uras.pawel' alt='Facebook' title='Facebook' target='_blank'><i
				class='fab fa-facebook'
			></i></a>
		<a href='https://www.linkedin.com/in/pawe%C5%82-urasi%C5%84ski' alt='Linkedin' title='Linkedin' target='_blank'><i
				class='fab fa-linkedin'
			></i></a>
		<a href='https://github.com/urasinskipawel' alt='Github' title='Github' target='_blank'><i
				class='fab fa-github'
			></i></a>
		<a href='https://www.youtube.com/@paweurasinski4075/' alt='Youtube' title='Youtube' target='_blank'><i
				class='fab fa-youtube'
			></i></a>
		<a href='/'><i class='fa-solid fa-arrow-up' alt='Home' title='Home'></i></a>
	</div>

</footer>