{{! <a id='top'></a> }}
<header>
 
	<div class='header-img'>
		<div class='header-text'>
			<h1>How to use our app?</h1>
			<p>Discover the possibilities of our program</p>
		</div>
		<div class='header-bg'></div>
	</div>

</header>

{{> nav-bar}}

<main class='content'>

	<div class='content-box'>
		<div class='content-text-box'>
			<h2>Manage your employees!</h2>
			<p>We have created an administration panel that is available to the supervisor after logging in using a unique
				password</p>
		</div>
		<div class='content-bg-image admin-login'></div>
	</div>
	<div class='content-box'>
		<div class='content-text-box'>
			<p>In the admin panel you can easily add a worker and assign him a suitable machine. You can also add a task and
				assign a technological process, processing stage to it and assign an employee who will perform it</p>
		</div>
		<div class='content-bg-image admin-panel'></div>
	</div>
	<div class='content-box'>
		<div class='content-text-box'>
			<h2>Report your work!</h2>
			<p>Employees created in the admin panel have access to an individual employee panel where they can report their work.
				The worker will gain access to the panel by entering his name and surname</p>
		</div>
		<div class='content-bg-image worker-login'></div>
	</div>
	<div class='content-box'>
		<div class='content-text-box'>
			<p>In the employee panel, each worker reports his work. After completing the report, the status of the task is
				updated automatically in the admin panel. According to this the supervisor knows at what stage of work his employee
				is</p>
		</div>
		<div class='content-bg-image worker-panel'></div>
	</div>

	<div class='content-box'>
		<div class='content-text-box'>
			<h3>If you have some questions or problem</h3>
			<button><a class="contact" href='/support/contact'>Contact us!</a></button>
		</div>
	</div>

</main>

{{> footer-bar}}
